/* Paleta de colores */

/* 
Verde: #3e885b
Gris: #bfb5af
Negro: #34312d 
*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #bfb5af;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

header {
    padding: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e885b;
    div a {
        text-decoration: none;
        color: white;
        font-size: 4vw;
        font-weight: bold;
    }
    div a:hover {
        text-decoration: underline;
    }
    form {
        input {
            font-size: 2vw;
            border: solid 0.1vw white;
            border-radius: 2vw;
            padding: 1vw;
            width: 50vw;
        }
    }
    div {
        display: flex;
        justify-content: space-around;
    }
}

#logo {
    margin: 0;
    padding: 0;
    img {
        width: 10vw;
    }
}

#contenido {
    display: flex;
    justify-content: center;
    img {
        margin: 4vw;
        width: 30vw;
    }
}

@media only screen and (min-width: 768px) {

    header {
        margin-top: 2vw;
    }

    #logo {
        img {
            width: 5vw;
        }
    }

}