body{
    background-color: rgb(207, 207, 207);
}

/* Resolución para moviles */
@media only screen and (max-width: 768px) {
    header{
        color: white;
        width: 100%;
        height: 30%;
        position: fixed;  
        display: flex;
        flex-direction: column;
        align-items: left;
        background-color: #3E885B;
        z-index: 1;

        div {
            font-size: large; /* Tamaño de la fuente */
            display: flex; /* Contenedor de tipo flexbox */
            flex-direction: column; /* Dirección de la columna */
            transition: transform 0.5s ease-in-out; /* Transición */
            text-align: left; /* Alineación de texto */
            margin-left: 60%;
            align-items: left;
            z-index: 2;

        }
        img {
            width: 30%;
            margin-left: 1vw;
        }
}

#mi_flex{
    display: flex;
    flex-direction: column;
    width: 100%;  
    color: black;
    align-items: center;
}

#mi_flex div {
    background-color: rgba(139, 129, 129, 0.5);
    border-radius: 9px;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-align: justify;
    margin-top: 60%; 
    transition: transform .2s; /* Duración y tipo de transición */
}

#producto{
    background-image: url(../Fotos/AF1.png);
    align-items: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#producto:hover{
    transform: scale(1.3); /* Efecto de zoom al pasar el ratón */
}

#producto2{
    background-image: url(../Fotos/fg.webp);
    align-items: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#producto2:hover{
    transform: scale(1.3); /* Efecto de zoom al pasar el ratón */
}

#producto3{
    background-image: url(../Fotos/stussy.webp);
    align-items: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#producto3:hover{
    transform: scale(1.3); /* Efecto de zoom al pasar el ratón */
}

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
#mifelx{
    display: flex;
    flex-direction: row;
    width: 100%;  
    color: black;
    align-items: center;
}

}